@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
.font-dm-serif-text {
  font-family: 'DM Serif Text', serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }

  a {
    text-decoration: none;
  }

  button,
  input,
  select,
  textarea {
    font: inherit;
  }
}
